body {
    font-family: Arial, sans-serif;
    background-image: url('BGIMG.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    color: white;
}

h1 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.tab-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#ergebnis, #kalorien-ergebnis, #bmr-ergebnis, #hf-ergebnis, #km-meilen-ergebnis, #meilen-km-ergebnis, #fuss-hoehenmeter-ergebnis, #hoehenmeter-fuss-ergebnis {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
}

.tabs {
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.tab-button:hover {
    background-color: #0056b3;
}
